<!-- forua.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Forua</h1>
    <p>Ongi etorri forura. Hemen gehitu ditzakezu nahi dituzun gaiak eta hauetan komentatu.</p>

    <h2>Foruko gaiak</h2>
    <ul>
        {% for gaia in gaiak %}
            <li>
                <h3>{{ gaia.titulo }}</h3>
                <p>Autorea: {{ gaia.autor }}</p>
                <p>Deskribapena: {{ gaia.contenido }}</p>
                <h4>Komentarioak:</h4>
                <ul>
                    {% for comentario in gaia.comentarios %}
                        <li>
                            <p>Erabiltzailea: {{ comentario.autor }}</p>
                            <p>{{ comentario.contenido }}</p>
                        </li>
                    {% endfor %}
                </ul>

                <a href="{{ url_for('comentar_gaia', titulo=gaia.titulo) }}" class="btn btn-secondary">Komentatu</a>

            </li>
        {% endfor %}
    </ul>

    <a href="/crear_gaia" class="btn btn-primary">Gai berria sortu</a>
</div>
{% endblock %}
