{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Gomendioak</h1>
    <p>Ongi etorri gomendio gunera.</p>

    <h2> Liburu gomendatuak</h2>
     </div>

              <h3>Irakurri ez diren Liburuak</h3>
        <div class="row">

        {% for book in unread_books %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row" style="width: 18rem;">
                    {% if book.cover: %}
                        <img src="{{book.cover}}" class="rounded" style="max-width: 6rem; height: fit-content;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                        {% if book.description: %}
                        <p class="card-text">{{book.description}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
