<!-- administratzaile.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Ongi Etorri Administratzaile</h1>
    <p>Administratzaile gisa erabiltzaileen kudeaketa eta liburuen antolakuntzaren gaineko kontrola izango duzu</p>

    <h2>Funtzionalitateak</h2>


    <a href="/gehituErabiltzaile" class="btn btn-primary">Gehitu Erabiltzailea</a>
    <a href="/ezabatuErabiltzaile" class="btn btn-primary">Ezabatu Erabiltzailea</a>
    <a href="/sartuLiburua" class="btn btn-primary">Gehitu Liburua</a>
</div>
{% endblock %}
